USE [master]
GO
/****** Object:  Database [HTQLTBYT]    Script Date: 2/6/2025 6:10:26 PM ******/
CREATE DATABASE [HTQLTBYT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HTQLTBYT', FILENAME = N'E:\SSMS\MSSQL16.SQLEXPRESS\MSSQL\DATA\HTQLTBYT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HTQLTBYT_log', FILENAME = N'E:\SSMS\MSSQL16.SQLEXPRESS\MSSQL\DATA\HTQLTBYT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HTQLTBYT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HTQLTBYT]
GO
/****** Object:  Table [dbo].[tbl_account]    Script Date: 2/6/2025 6:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_account](
	[account_username] [nvarchar](255) NOT NULL,
	[account_password] [nvarchar](255) NOT NULL,
 CONSTRAINT [tbl_account_account_username_primary] PRIMARY KEY CLUSTERED 
(
	[account_username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_contact]    Script Date: 2/6/2025 6:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_contact](
	[contact_id] [varchar](255) NOT NULL,
	[contact_type] [int] NOT NULL,
	[contact_address] [nvarchar](255) NOT NULL,
	[contact_finance] [bigint] NOT NULL,
 CONSTRAINT [tbl_contact_contact_id_primary] PRIMARY KEY CLUSTERED 
(
	[contact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_device]    Script Date: 2/6/2025 6:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_device](
	[device_id] [varchar](255) NOT NULL,
	[device_name] [nvarchar](255) NOT NULL,
	[device_manufacturer] [nvarchar](255) NOT NULL,
	[device_seri] [nvarchar](255) NOT NULL,
	[device_type] [nvarchar](255) NOT NULL,
	[device_group] [nvarchar](255) NOT NULL,
	[device_maintenance_cycle] [int] NOT NULL,
	[device_maintenance_start] [date] NOT NULL,
	[device_stockout_date] [datetime] NOT NULL,
	[device_condition] [int] NOT NULL,
	[device_received_date] [datetime] NOT NULL,
	[device_note] [text] NOT NULL,
	[FK_contact_id] [varchar](255) NOT NULL,
	[FK_status_id] [varchar](255) NOT NULL,
	[FK_room_id] [varchar](255) NOT NULL,
 CONSTRAINT [tbl_device_device_id_primary] PRIMARY KEY CLUSTERED 
(
	[device_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_maintain]    Script Date: 2/6/2025 6:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_maintain](
	[maintain_id] [varchar](255) NOT NULL,
	[maintain_date] [date] NOT NULL,
	[maintain_maintenance] [nvarchar](255) NOT NULL,
	[maintain_maintenance_phone] [nvarchar](255) NOT NULL,
	[maintain_delivery] [nvarchar](255) NOT NULL,
	[maintain_delivery_phone] [nvarchar](255) NOT NULL,
	[FK_device_id] [varchar](255) NOT NULL,
	[FK_status_id] [varchar](255) NOT NULL,
	[FK_room_id] [varchar](255) NOT NULL,
	[FK_contact_id] [varchar](255) NOT NULL,
 CONSTRAINT [tbl_maintain_maintain_id_primary] PRIMARY KEY CLUSTERED 
(
	[maintain_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_repair]    Script Date: 2/6/2025 6:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_repair](
	[repair_id] [varchar](255) NOT NULL,
	[repair_broken] [date] NOT NULL,
	[repair_priority] [int] NOT NULL,
	[repair_date] [date] NOT NULL,
	[repair_update_date] [datetime] NOT NULL,
	[repair_update_status] [int] NOT NULL,
	[repair_note] [text] NOT NULL,
	[repair_picture] [varbinary](max) NOT NULL,
	[repair_update_note] [text] NOT NULL,
	[FK_contact_id] [varchar](255) NOT NULL,
	[FK_room_id] [varchar](255) NOT NULL,
	[FK_device_id] [varchar](255) NOT NULL,
	[FK_status_id] [varchar](255) NOT NULL,
 CONSTRAINT [tbl_repair_repair_id_primary] PRIMARY KEY CLUSTERED 
(
	[repair_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_room]    Script Date: 2/6/2025 6:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_room](
	[room_id] [varchar](255) NOT NULL,
	[room_type] [nvarchar](255) NOT NULL,
	[room_name] [nvarchar](255) NOT NULL,
 CONSTRAINT [tbl_room_room_id_primary] PRIMARY KEY CLUSTERED 
(
	[room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_status]    Script Date: 2/6/2025 6:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_status](
	[status_id] [varchar](255) NOT NULL,
	[status_name] [nvarchar](255) NOT NULL,
 CONSTRAINT [tbl_status_status_id_primary] PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_storage]    Script Date: 2/6/2025 6:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_storage](
	[storage_id] [varchar](255) NOT NULL,
	[storage_quantity] [int] NOT NULL,
	[storage_min] [int] NOT NULL,
	[FK_device_id] [varchar](255) NOT NULL,
	[FK_status_id] [varchar](255) NOT NULL,
 CONSTRAINT [tbl_storage_storage_id_primary] PRIMARY KEY CLUSTERED 
(
	[storage_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_account] ([account_username], [account_password]) VALUES (N'leminhha', N'1')
INSERT [dbo].[tbl_account] ([account_username], [account_password]) VALUES (N'user1', N'password123')
INSERT [dbo].[tbl_account] ([account_username], [account_password]) VALUES (N'user2', N'password456')
GO
INSERT [dbo].[tbl_contact] ([contact_id], [contact_type], [contact_address], [contact_finance]) VALUES (N'1', 1, N'123 Main St', 5000000)
INSERT [dbo].[tbl_contact] ([contact_id], [contact_type], [contact_address], [contact_finance]) VALUES (N'2', 2, N'456 Elm St', 3000000)
GO
INSERT [dbo].[tbl_room] ([room_id], [room_type], [room_name]) VALUES (N'KHO', N'Phòng lưu trữ', N'Kho cất đồ')
INSERT [dbo].[tbl_room] ([room_id], [room_type], [room_name]) VALUES (N'T1-01', N'Khoa s?n nhi', N'P101')
INSERT [dbo].[tbl_room] ([room_id], [room_type], [room_name]) VALUES (N'T1-02', N'Kho c?p c?u', N'P102')
GO
INSERT [dbo].[tbl_status] ([status_id], [status_name]) VALUES (N'00', N'Chưa xếp lịch')
INSERT [dbo].[tbl_status] ([status_id], [status_name]) VALUES (N'01', N'Đã xếp lịch bảo trì')
INSERT [dbo].[tbl_status] ([status_id], [status_name]) VALUES (N'02', N'Đang bảo trì')
GO
ALTER TABLE [dbo].[tbl_device]  WITH CHECK ADD  CONSTRAINT [tbl_device_fk_contact_id_foreign] FOREIGN KEY([FK_contact_id])
REFERENCES [dbo].[tbl_contact] ([contact_id])
GO
ALTER TABLE [dbo].[tbl_device] CHECK CONSTRAINT [tbl_device_fk_contact_id_foreign]
GO
ALTER TABLE [dbo].[tbl_device]  WITH CHECK ADD  CONSTRAINT [tbl_device_fk_room_id_foreign] FOREIGN KEY([FK_room_id])
REFERENCES [dbo].[tbl_room] ([room_id])
GO
ALTER TABLE [dbo].[tbl_device] CHECK CONSTRAINT [tbl_device_fk_room_id_foreign]
GO
ALTER TABLE [dbo].[tbl_device]  WITH CHECK ADD  CONSTRAINT [tbl_device_fk_status_id_foreign] FOREIGN KEY([FK_status_id])
REFERENCES [dbo].[tbl_status] ([status_id])
GO
ALTER TABLE [dbo].[tbl_device] CHECK CONSTRAINT [tbl_device_fk_status_id_foreign]
GO
ALTER TABLE [dbo].[tbl_maintain]  WITH CHECK ADD  CONSTRAINT [tbl_maintain_fk_contact_id_foreign] FOREIGN KEY([FK_contact_id])
REFERENCES [dbo].[tbl_contact] ([contact_id])
GO
ALTER TABLE [dbo].[tbl_maintain] CHECK CONSTRAINT [tbl_maintain_fk_contact_id_foreign]
GO
ALTER TABLE [dbo].[tbl_maintain]  WITH CHECK ADD  CONSTRAINT [tbl_maintain_fk_device_id_foreign] FOREIGN KEY([FK_device_id])
REFERENCES [dbo].[tbl_device] ([device_id])
GO
ALTER TABLE [dbo].[tbl_maintain] CHECK CONSTRAINT [tbl_maintain_fk_device_id_foreign]
GO
ALTER TABLE [dbo].[tbl_maintain]  WITH CHECK ADD  CONSTRAINT [tbl_maintain_fk_room_id_foreign] FOREIGN KEY([FK_room_id])
REFERENCES [dbo].[tbl_room] ([room_id])
GO
ALTER TABLE [dbo].[tbl_maintain] CHECK CONSTRAINT [tbl_maintain_fk_room_id_foreign]
GO
ALTER TABLE [dbo].[tbl_maintain]  WITH CHECK ADD  CONSTRAINT [tbl_maintain_fk_status_id_foreign] FOREIGN KEY([FK_status_id])
REFERENCES [dbo].[tbl_status] ([status_id])
GO
ALTER TABLE [dbo].[tbl_maintain] CHECK CONSTRAINT [tbl_maintain_fk_status_id_foreign]
GO
ALTER TABLE [dbo].[tbl_repair]  WITH CHECK ADD  CONSTRAINT [tbl_repair_fk_contact_id_foreign] FOREIGN KEY([FK_contact_id])
REFERENCES [dbo].[tbl_contact] ([contact_id])
GO
ALTER TABLE [dbo].[tbl_repair] CHECK CONSTRAINT [tbl_repair_fk_contact_id_foreign]
GO
ALTER TABLE [dbo].[tbl_repair]  WITH CHECK ADD  CONSTRAINT [tbl_repair_fk_device_id_foreign] FOREIGN KEY([FK_device_id])
REFERENCES [dbo].[tbl_device] ([device_id])
GO
ALTER TABLE [dbo].[tbl_repair] CHECK CONSTRAINT [tbl_repair_fk_device_id_foreign]
GO
ALTER TABLE [dbo].[tbl_repair]  WITH CHECK ADD  CONSTRAINT [tbl_repair_fk_room_id_foreign] FOREIGN KEY([FK_room_id])
REFERENCES [dbo].[tbl_room] ([room_id])
GO
ALTER TABLE [dbo].[tbl_repair] CHECK CONSTRAINT [tbl_repair_fk_room_id_foreign]
GO
ALTER TABLE [dbo].[tbl_repair]  WITH CHECK ADD  CONSTRAINT [tbl_repair_fk_status_id_foreign] FOREIGN KEY([FK_status_id])
REFERENCES [dbo].[tbl_status] ([status_id])
GO
ALTER TABLE [dbo].[tbl_repair] CHECK CONSTRAINT [tbl_repair_fk_status_id_foreign]
GO
ALTER TABLE [dbo].[tbl_storage]  WITH CHECK ADD  CONSTRAINT [tbl_storage_fk_device_id_foreign] FOREIGN KEY([FK_device_id])
REFERENCES [dbo].[tbl_device] ([device_id])
GO
ALTER TABLE [dbo].[tbl_storage] CHECK CONSTRAINT [tbl_storage_fk_device_id_foreign]
GO
ALTER TABLE [dbo].[tbl_storage]  WITH CHECK ADD  CONSTRAINT [tbl_storage_fk_status_id_foreign] FOREIGN KEY([FK_status_id])
REFERENCES [dbo].[tbl_status] ([status_id])
GO
ALTER TABLE [dbo].[tbl_storage] CHECK CONSTRAINT [tbl_storage_fk_status_id_foreign]
GO
USE [master]
GO
