USE [master]
GO
/****** Object:  Database [HTQLVTYT]    Script Date: 25/5/2025 11:23:51 PM ******/
CREATE DATABASE [HTQLVTYT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HTQLVTYT', FILENAME = N'E:\SSMS\MSSQL16.SQLEXPRESS\MSSQL\DATA\HTQLVTYT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HTQLVTYT_log', FILENAME = N'E:\SSMS\MSSQL16.SQLEXPRESS\MSSQL\DATA\HTQLVTYT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HTQLVTYT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HTQLVTYT]
GO
/****** Object:  Table [dbo].[tbl_account]    Script Date: 25/5/2025 11:23:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_account](
	[account_username] [nvarchar](255) NOT NULL,
	[account_password] [nvarchar](255) NOT NULL,
 CONSTRAINT [tbl_account_account_username_primary] PRIMARY KEY CLUSTERED 
(
	[account_username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_contact]    Script Date: 25/5/2025 11:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_contact](
	[contact_id] [varchar](255) NOT NULL,
	[contact_type] [int] NOT NULL,
	[contact_address] [nvarchar](255) NOT NULL,
 CONSTRAINT [tbl_contact_contact_id_primary] PRIMARY KEY CLUSTERED 
(
	[contact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_device]    Script Date: 25/5/2025 11:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_device](
	[device_id] [varchar](255) NOT NULL,
	[device_name] [nvarchar](255) NOT NULL,
	[device_manufacturer] [nvarchar](255) NOT NULL,
	[device_seri] [nvarchar](255) NOT NULL,
	[device_type] [nvarchar](255) NOT NULL,
	[device_group] [nvarchar](255) NOT NULL,
	[device_maintenance_cycle] [int] NOT NULL,
	[device_maintenance_start] [date] NOT NULL,
	[device_stockout_date] [datetime] NOT NULL,
	[device_condition] [int] NOT NULL,
	[device_received_date] [datetime] NOT NULL,
	[device_note] [text] NOT NULL,
	[FK_contact_id] [varchar](255) NOT NULL,
	[FK_status_id] [varchar](255) NOT NULL,
	[FK_room_id] [varchar](255) NOT NULL,
 CONSTRAINT [tbl_device_device_id_primary] PRIMARY KEY CLUSTERED 
(
	[device_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_finance]    Script Date: 25/5/2025 11:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_finance](
	[finance_id] [varchar](255) NOT NULL,
	[finance_purchase] [int] NOT NULL,
	[finance_maintain] [int] NOT NULL,
	[finance_repair] [int] NOT NULL,
	[finance_type] [int] NOT NULL,
 CONSTRAINT [tbl_finance_finance_id_primary] PRIMARY KEY CLUSTERED 
(
	[finance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_maintain]    Script Date: 25/5/2025 11:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_maintain](
	[maintain_id] [varchar](255) NOT NULL,
	[maintain_date] [date] NOT NULL,
	[maintain_maintenance] [nvarchar](255) NOT NULL,
	[maintain_maintenance_phone] [nvarchar](255) NOT NULL,
	[maintain_delivery] [nvarchar](255) NOT NULL,
	[maintain_delivery_phone] [nvarchar](255) NOT NULL,
	[FK_device_id] [varchar](255) NOT NULL,
	[FK_status_id] [varchar](255) NOT NULL,
	[FK_room_id] [varchar](255) NOT NULL,
	[FK_finance_id] [varchar](255) NOT NULL,
	[FK_contact_id] [varchar](255) NOT NULL,
 CONSTRAINT [tbl_maintain_maintain_id_primary] PRIMARY KEY CLUSTERED 
(
	[maintain_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_repair]    Script Date: 25/5/2025 11:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_repair](
	[repair_id] [varchar](255) NOT NULL,
	[repair_broken] [date] NOT NULL,
	[repair_priority] [int] NOT NULL,
	[repair_date] [date] NOT NULL,
	[repair_update_date] [datetime] NOT NULL,
	[repair_update_status] [int] NOT NULL,
	[repair_note] [text] NOT NULL,
	[repair_picture] [varchar](50) NOT NULL,
	[repair_update_note] [text] NOT NULL,
	[FK_contact_id] [varchar](255) NOT NULL,
	[FK_room_id] [varchar](255) NOT NULL,
	[FK_device_id] [varchar](255) NOT NULL,
	[FK_status_id] [varchar](255) NOT NULL,
	[FK_finance_id] [varchar](255) NOT NULL,
 CONSTRAINT [tbl_repair_repair_id_primary] PRIMARY KEY CLUSTERED 
(
	[repair_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_room]    Script Date: 25/5/2025 11:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_room](
	[room_id] [varchar](255) NOT NULL,
	[room_type] [nvarchar](255) NOT NULL,
	[room_name] [nvarchar](255) NOT NULL,
 CONSTRAINT [tbl_room_room_id_primary] PRIMARY KEY CLUSTERED 
(
	[room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_status]    Script Date: 25/5/2025 11:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_status](
	[status_id] [varchar](255) NOT NULL,
	[status_name] [nvarchar](255) NOT NULL,
 CONSTRAINT [tbl_status_status_id_primary] PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_storage]    Script Date: 25/5/2025 11:23:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_storage](
	[storage_id] [varchar](255) NOT NULL,
	[storage_quantity] [int] NOT NULL,
	[storage_min] [int] NOT NULL,
	[FK_device_id] [varchar](255) NOT NULL,
	[FK_status_id] [varchar](255) NOT NULL,
 CONSTRAINT [tbl_storage_storage_id_primary] PRIMARY KEY CLUSTERED 
(
	[storage_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_account] ([account_username], [account_password]) VALUES (N'leminhha', N'1')
GO
INSERT [dbo].[tbl_contact] ([contact_id], [contact_type], [contact_address]) VALUES (N'CT001', 1, N'123 Đường A, TP. HCM')
INSERT [dbo].[tbl_contact] ([contact_id], [contact_type], [contact_address]) VALUES (N'CT002', 2, N'456 Đường B, Hà Nội')
GO
INSERT [dbo].[tbl_device] ([device_id], [device_name], [device_manufacturer], [device_seri], [device_type], [device_group], [device_maintenance_cycle], [device_maintenance_start], [device_stockout_date], [device_condition], [device_received_date], [device_note], [FK_contact_id], [FK_status_id], [FK_room_id]) VALUES (N'DEV001', N'Máy siêu âm Philips', N'Philips', N'SU001', N'Siêu âm', N'Nhóm A', 12, CAST(N'2024-01-01' AS Date), CAST(N'2025-12-31T00:00:00.000' AS DateTime), 1, CAST(N'2025-05-25T22:59:52.773' AS DateTime), N'Ho?t d?ng t?t', N'CT001', N'00', N'RM001')
INSERT [dbo].[tbl_device] ([device_id], [device_name], [device_manufacturer], [device_seri], [device_type], [device_group], [device_maintenance_cycle], [device_maintenance_start], [device_stockout_date], [device_condition], [device_received_date], [device_note], [FK_contact_id], [FK_status_id], [FK_room_id]) VALUES (N'DEV002', N'Máy X-quang Siemens', N'Siemens', N'XQ002', N'X-quang', N'Nhóm B', 6, CAST(N'2024-03-01' AS Date), CAST(N'2025-10-31T00:00:00.000' AS DateTime), 1, CAST(N'2025-05-25T22:59:52.773' AS DateTime), N'Ho?t d?ng t?t', N'CT002', N'01', N'RM002')
INSERT [dbo].[tbl_device] ([device_id], [device_name], [device_manufacturer], [device_seri], [device_type], [device_group], [device_maintenance_cycle], [device_maintenance_start], [device_stockout_date], [device_condition], [device_received_date], [device_note], [FK_contact_id], [FK_status_id], [FK_room_id]) VALUES (N'DEV003', N'Máy đo huyết áp Omron', N'Omron', N'HA003', N'Huyết áp', N'Nhóm C', 12, CAST(N'2024-02-01' AS Date), CAST(N'2026-02-01T00:00:00.000' AS DateTime), 1, CAST(N'2025-05-25T22:59:52.773' AS DateTime), N'Ho?t d?ng t?t', N'CT001', N'11', N'RM001')
GO
INSERT [dbo].[tbl_finance] ([finance_id], [finance_purchase], [finance_maintain], [finance_repair], [finance_type]) VALUES (N'FN001', 10000000, 2000000, 1500000, 1)
INSERT [dbo].[tbl_finance] ([finance_id], [finance_purchase], [finance_maintain], [finance_repair], [finance_type]) VALUES (N'FN002', 15000000, 3000000, 2500000, 2)
GO
INSERT [dbo].[tbl_maintain] ([maintain_id], [maintain_date], [maintain_maintenance], [maintain_maintenance_phone], [maintain_delivery], [maintain_delivery_phone], [FK_device_id], [FK_status_id], [FK_room_id], [FK_finance_id], [FK_contact_id]) VALUES (N'MT001', CAST(N'2025-05-22' AS Date), N'Bảo trì tổng thể', N'0987654321', N'Giao nhận', N'0912345678', N'DEV001', N'01', N'RM001', N'FN001', N'CT001')
INSERT [dbo].[tbl_maintain] ([maintain_id], [maintain_date], [maintain_maintenance], [maintain_maintenance_phone], [maintain_delivery], [maintain_delivery_phone], [FK_device_id], [FK_status_id], [FK_room_id], [FK_finance_id], [FK_contact_id]) VALUES (N'MT002', CAST(N'2025-05-23' AS Date), N'Bảo trì kiểm tra', N'0987654322', N'Giao nhận', N'0912345679', N'DEV002', N'02', N'RM002', N'FN002', N'CT002')
INSERT [dbo].[tbl_maintain] ([maintain_id], [maintain_date], [maintain_maintenance], [maintain_maintenance_phone], [maintain_delivery], [maintain_delivery_phone], [FK_device_id], [FK_status_id], [FK_room_id], [FK_finance_id], [FK_contact_id]) VALUES (N'MT003', CAST(N'2025-06-01' AS Date), N'Bảo trì máy đo huyết áp', N'0987123456', N'Giao nhận', N'0912000001', N'DEV003', N'11', N'RM001', N'FN001', N'CT001')
GO
INSERT [dbo].[tbl_repair] ([repair_id], [repair_broken], [repair_priority], [repair_date], [repair_update_date], [repair_update_status], [repair_note], [repair_picture], [repair_update_note], [FK_contact_id], [FK_room_id], [FK_device_id], [FK_status_id], [FK_finance_id]) VALUES (N'RP003', CAST(N'2025-05-10' AS Date), 3, CAST(N'2025-05-12' AS Date), CAST(N'2025-05-25T23:21:47.510' AS DateTime), 0, N'H?ng loa', N'?n', N'Ch? linh ki?n', N'CT001', N'RM001', N'DEV003', N'11', N'FN001')
INSERT [dbo].[tbl_repair] ([repair_id], [repair_broken], [repair_priority], [repair_date], [repair_update_date], [repair_update_status], [repair_note], [repair_picture], [repair_update_note], [FK_contact_id], [FK_room_id], [FK_device_id], [FK_status_id], [FK_finance_id]) VALUES (N'RP004', CAST(N'2025-05-15' AS Date), 2, CAST(N'2025-05-16' AS Date), CAST(N'2025-05-25T23:21:47.510' AS DateTime), 1, N'L?i ph?n m?m', N'?n', N'Ðã c?p nh?t', N'CT002', N'RM002', N'DEV004', N'13', N'FN002')
GO
INSERT [dbo].[tbl_room] ([room_id], [room_type], [room_name]) VALUES (N'RM001', N'Phòng khám', N'Phòng A')
INSERT [dbo].[tbl_room] ([room_id], [room_type], [room_name]) VALUES (N'RM002', N'Phòng lưu trữ', N'Phòng B')
GO
INSERT [dbo].[tbl_status] ([status_id], [status_name]) VALUES (N'00', N'Chưa xếp lịch')
INSERT [dbo].[tbl_status] ([status_id], [status_name]) VALUES (N'01', N'Đã xếp lịch bảo trì')
INSERT [dbo].[tbl_status] ([status_id], [status_name]) VALUES (N'02', N'Đang bảo trì')
GO
INSERT [dbo].[tbl_storage] ([storage_id], [storage_quantity], [storage_min], [FK_device_id], [FK_status_id]) VALUES (N'ST001', 10, 2, N'DEV001', N'00')
INSERT [dbo].[tbl_storage] ([storage_id], [storage_quantity], [storage_min], [FK_device_id], [FK_status_id]) VALUES (N'ST002', 5, 1, N'DEV002', N'01')
INSERT [dbo].[tbl_storage] ([storage_id], [storage_quantity], [storage_min], [FK_device_id], [FK_status_id]) VALUES (N'ST003', 20, 3, N'DEV003', N'11')
GO
ALTER TABLE [dbo].[tbl_device]  WITH CHECK ADD  CONSTRAINT [tbl_device_fk_contact_id_foreign] FOREIGN KEY([FK_contact_id])
REFERENCES [dbo].[tbl_contact] ([contact_id])
GO
ALTER TABLE [dbo].[tbl_device] CHECK CONSTRAINT [tbl_device_fk_contact_id_foreign]
GO
ALTER TABLE [dbo].[tbl_device]  WITH CHECK ADD  CONSTRAINT [tbl_device_fk_room_id_foreign] FOREIGN KEY([FK_room_id])
REFERENCES [dbo].[tbl_room] ([room_id])
GO
ALTER TABLE [dbo].[tbl_device] CHECK CONSTRAINT [tbl_device_fk_room_id_foreign]
GO
ALTER TABLE [dbo].[tbl_device]  WITH CHECK ADD  CONSTRAINT [tbl_device_fk_status_id_foreign] FOREIGN KEY([FK_status_id])
REFERENCES [dbo].[tbl_status] ([status_id])
GO
ALTER TABLE [dbo].[tbl_device] CHECK CONSTRAINT [tbl_device_fk_status_id_foreign]
GO
ALTER TABLE [dbo].[tbl_maintain]  WITH CHECK ADD  CONSTRAINT [tbl_maintain_fk_contact_id_foreign] FOREIGN KEY([FK_contact_id])
REFERENCES [dbo].[tbl_contact] ([contact_id])
GO
ALTER TABLE [dbo].[tbl_maintain] CHECK CONSTRAINT [tbl_maintain_fk_contact_id_foreign]
GO
ALTER TABLE [dbo].[tbl_maintain]  WITH CHECK ADD  CONSTRAINT [tbl_maintain_fk_device_id_foreign] FOREIGN KEY([FK_device_id])
REFERENCES [dbo].[tbl_device] ([device_id])
GO
ALTER TABLE [dbo].[tbl_maintain] CHECK CONSTRAINT [tbl_maintain_fk_device_id_foreign]
GO
ALTER TABLE [dbo].[tbl_maintain]  WITH CHECK ADD  CONSTRAINT [tbl_maintain_fk_finance_id_foreign] FOREIGN KEY([FK_finance_id])
REFERENCES [dbo].[tbl_finance] ([finance_id])
GO
ALTER TABLE [dbo].[tbl_maintain] CHECK CONSTRAINT [tbl_maintain_fk_finance_id_foreign]
GO
ALTER TABLE [dbo].[tbl_maintain]  WITH CHECK ADD  CONSTRAINT [tbl_maintain_fk_room_id_foreign] FOREIGN KEY([FK_room_id])
REFERENCES [dbo].[tbl_room] ([room_id])
GO
ALTER TABLE [dbo].[tbl_maintain] CHECK CONSTRAINT [tbl_maintain_fk_room_id_foreign]
GO
ALTER TABLE [dbo].[tbl_maintain]  WITH CHECK ADD  CONSTRAINT [tbl_maintain_fk_status_id_foreign] FOREIGN KEY([FK_status_id])
REFERENCES [dbo].[tbl_status] ([status_id])
GO
ALTER TABLE [dbo].[tbl_maintain] CHECK CONSTRAINT [tbl_maintain_fk_status_id_foreign]
GO
ALTER TABLE [dbo].[tbl_repair]  WITH CHECK ADD  CONSTRAINT [tbl_repair_fk_contact_id_foreign] FOREIGN KEY([FK_contact_id])
REFERENCES [dbo].[tbl_contact] ([contact_id])
GO
ALTER TABLE [dbo].[tbl_repair] CHECK CONSTRAINT [tbl_repair_fk_contact_id_foreign]
GO
ALTER TABLE [dbo].[tbl_repair]  WITH CHECK ADD  CONSTRAINT [tbl_repair_fk_device_id_foreign] FOREIGN KEY([FK_device_id])
REFERENCES [dbo].[tbl_device] ([device_id])
GO
ALTER TABLE [dbo].[tbl_repair] CHECK CONSTRAINT [tbl_repair_fk_device_id_foreign]
GO
ALTER TABLE [dbo].[tbl_repair]  WITH CHECK ADD  CONSTRAINT [tbl_repair_fk_finance_id_foreign] FOREIGN KEY([FK_finance_id])
REFERENCES [dbo].[tbl_finance] ([finance_id])
GO
ALTER TABLE [dbo].[tbl_repair] CHECK CONSTRAINT [tbl_repair_fk_finance_id_foreign]
GO
ALTER TABLE [dbo].[tbl_repair]  WITH CHECK ADD  CONSTRAINT [tbl_repair_fk_room_id_foreign] FOREIGN KEY([FK_room_id])
REFERENCES [dbo].[tbl_room] ([room_id])
GO
ALTER TABLE [dbo].[tbl_repair] CHECK CONSTRAINT [tbl_repair_fk_room_id_foreign]
GO
ALTER TABLE [dbo].[tbl_repair]  WITH CHECK ADD  CONSTRAINT [tbl_repair_fk_status_id_foreign] FOREIGN KEY([FK_status_id])
REFERENCES [dbo].[tbl_status] ([status_id])
GO
ALTER TABLE [dbo].[tbl_repair] CHECK CONSTRAINT [tbl_repair_fk_status_id_foreign]
GO
ALTER TABLE [dbo].[tbl_storage]  WITH CHECK ADD  CONSTRAINT [tbl_storage_fk_device_id_foreign] FOREIGN KEY([FK_device_id])
REFERENCES [dbo].[tbl_device] ([device_id])
GO
ALTER TABLE [dbo].[tbl_storage] CHECK CONSTRAINT [tbl_storage_fk_device_id_foreign]
GO
ALTER TABLE [dbo].[tbl_storage]  WITH CHECK ADD  CONSTRAINT [tbl_storage_fk_status_id_foreign] FOREIGN KEY([FK_status_id])
REFERENCES [dbo].[tbl_status] ([status_id])
GO
ALTER TABLE [dbo].[tbl_storage] CHECK CONSTRAINT [tbl_storage_fk_status_id_foreign]
GO
USE [master]
GO
